* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  line-height: 1;
  background-color: var(--light-gray);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CARD */
.card {
  max-width: 32rem;
  border-radius: 17px;
  background-color: var(--main-white);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
}

/* CARD HEADER */
.card-header {
  padding: 1.6rem 1.6rem 0 1.6rem;
}

.card img {
  display: block;
  width: 100%;
  border-radius: 13px;
}

/* CARD BODY */
.card-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding: 0 2.8rem 3.6rem 2.8rem;
}

.heading-primary {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--dark-blue);
}

.card-description {
  font-size: 1.5rem;
  color: var(--grayish-blue);
  line-height: 1.4;
}
